<script type="text/javascript" src="/share/moment.js?v=5"></script>

<div ng-controller="momentController">
    <input type="hidden" id="iconPath" value="$!{iconPath}">
    <input type="hidden" id="commentInfoPath" value="$!{commentInfoPath}">
    <input type="hidden" id="userInfoPath" value="$!{userInfoPath}">
    <input type="hidden" id="momentId" value="$!{moment.id}">
    #if("$!user.gender" == "1")
        #set($ganderImage = "{{iconUrl.boy}}")
        #set($likeGander = "女生")
        #set($myGander = "他")
    #elseif("$!user.gender" == "2")
        #set($ganderImage = "{{iconUrl.girl}}")
        #set($likeGander = "男生")
        #set($myGander = "她")
    #else
        #set($ganderImage = "")
        #set($likeGander = "TA")
        #set($myGander = "TA")
    #end
    <div style="position:relative; padding: 1.4rem 0rem 0rem 0rem;">
        <div style="width:100%;height:0.2rem;background-color: #f2efef;"></div>
        <div style="width:7.5rem;height:7.5rem;">
            <video x5-video-player-type='h5' style="object-fit: contain;width: 100%;height:100%;background-color: #000000" preload="meta" controls poster="$!{picUrl}$!{moment.previewPic}" onplay="playSet(this)">
                <source src="$!{videoUrl}$!{moment.videoPath}">
            </video>
        </div>
##        <div style="width:7.5rem;height:7.5rem;background-color: #000000">
####            <div style="width:100%;height:100%;background-image:url($!{picUrl}$!{moment.previewPic});" ng-click="playVideo($event)"></div>
##            <img style="width:100%;height:100%;object-fit: cover;" src="$!{picUrl}$!{moment.previewPic}" ng-click="playVideo($event)">
##            <video style="position:absolute;z-index:2;top: -10rem;left: 0;width: 0.1rem;height: 0.1rem;" preload="meta" controls>
##                <source src="$!{videoUrl}$!{moment.videoPath}">
##            </video>
##        </div>
        <div style="background-color: #ffffff;">
            <img ng-src="$!{user.headImgThumbUrl}" style="margin: 0.3rem 0.2rem 0rem 0.2rem;width:0.76rem;height:0.76rem;border-radius: 0.38rem;float: left;">
            <div style="float: left;width: 6.34rem;">
                <div style="padding: 0.3rem 0rem 0rem 0rem;vertical-align: middle;">
                    <p style="line-height:0.3rem;margin: 0rem 0rem 0rem 0rem;font-size: 0.3rem;color: #5e5958;float: left;">$!{user.nickName}</p>
                    <img ng-src="$!{ganderImage}" style="margin: 0rem 0rem 0rem 0.14rem;width:0.2rem;height:0.26rem;float: left;">
                    <p style="line-height:0.3rem;margin: 0rem 0rem 0rem 0.3rem;font-size: 0.2rem;color: #959595;float: left;">$!{birth}</p>
                </div>
                <div style="clear: both"></div>
                <div style="font-size: 0.24rem;color: #949494;padding: 0.2rem 0.2rem 0.3rem 0rem;text-align: left">
                    <span style="white-space:pre-wrap;word-wrap:break-word; word-break:normal; ">$!{moment.content}</span>
                </div>
                <div style="clear: both"></div>
                <div style="margin: 0rem 0rem 0.52rem 0rem;vertical-align: middle;">
                    <p style="line-height:0.22rem;margin: 0rem 0rem 0rem 0rem;font-size: 0.19rem;color: #b7b7b7;float: left;">{{"$!{moment.gmtCreated}" | dateFiler}}</p>
                    <p style="line-height:0.22rem;margin: 0rem 0.2rem 0rem 0rem;font-size: 0.19rem;color: #b7b7b7;float: right;">$!{moment.starNum}</p>
                    <a onclick="showFooter()"><img ng-src="{{iconUrl.like}}" style="margin: 0rem 0.14rem 0rem 0rem;width:0.24rem;height:0.22rem;float: right;"></a>
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
    <div style="width:100%;height:0.2rem;background-color: #f2efef;"></div>
    <div style="width: 100%;background-color: #ffffff;">
        <div style="height: 1rem;line-height: 1rem;text-align: left">
            <a onclick="showFooter()"><img ng-src="{{iconUrl.comments}}" style="margin: 0.35rem 0.2rem 0.35rem 0.36rem;width:0.32rem;height:0.3rem;float: left"></a>
            <p style="font-size: 0.26rem;color: #5e5958;">$!{moment.commentNum}条评论</p>
        </div>
        <hr style="width:100%;height:1px;border:none;border-top:1px solid #f2efef;margin: 0 0;"/>
        <infinite-scroll>
            <div ng-if="commentList.length>0" ng-repeat="comment in commentList">
                <div >
    ##                <input type="hidden" ng-model="comment">
                    <a href="{{comment.headImgUrl}}"><img ng-src="{{comment.headImgThumbUrl}}" style="margin: 0.3rem 0.2rem 0rem 0.2rem;width:0.76rem;height:0.76rem;border-radius: 0.38rem;float: left;"></a>
                    <div style="float: left;width: 6.34rem;">
                        <div style="padding: 0.3rem 0rem 0.2rem 0rem;vertical-align: middle;">
                            <a onclick="showFooter()"><p style="line-height:0.3rem;margin: 0rem 0rem 0rem 0rem;font-size: 0.3rem;color: #5e5958;float: left;">{{comment.userName}}</p></a>
                            <img ng-src="{{comment.genderImage}}" style="margin: 0.02rem 0rem 0.02rem 0.14rem;width:0.2rem;height:0.26rem;float: left;">
                            <p style="line-height:0.3rem;margin: 0rem 0.2rem 0rem 0rem;font-size: 0.2rem;color: #959595;float: right;">{{comment.gmtModified | dateFiler}}</p>
                        </div>
                        <div style="clear: both"></div>
                        <div style="font-size: 0.24rem;color: #949494;padding: 0.2rem 0.2rem 0.3rem 0rem;text-align: left">
                            <span ng-if="comment.forUserName" style="white-space:pre-wrap;word-wrap:break-word; word-break:normal; color: #78aacf;">回复 @{{comment.forUserName}}：</span>
                            <span style="white-space:pre-wrap;word-wrap:break-word; word-break:normal; ">{{comment.content}}</span>
                        </div>
                        <div style="clear: both"></div>
                    </div>
                </div>
                <hr style="width:6.14rem;height:1px;border:none;border-top:1px solid #f2efef;margin: 0 0.2rem 0 1.16rem;"/>
            </div>
        </infinite-scroll>
    </div>
    <div style="width:100%;height:1rem;background-color: #ffffff;"></div>
</div>
