<!doctype html>
<html lang="zh_CN">
<head>
    <meta charset="utf-8">
    <title>$!{title}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">

    <script type="text/javascript">
        function setRem(doc, win) {
            var docEl = doc.documentElement,
                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
                    recalc = function () {
                        var clientWidth = docEl.clientWidth;
                        var dpr = win.devicePixelRatio;
                        if (!clientWidth || !dpr) return;
                        docEl.style.fontSize = (clientWidth / 750 * 100)+"px";
//                        docEl.style.fontSize = "30px";
//                        alert(clientWidth + " " + dpr +" "+ docEl.style.fontSize);
                    };
            if (!doc.addEventListener) return;
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        }setRem(document, window);
    </script>
    <!-- FIXME -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>

    <script type="text/javascript" src="https://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap/3.3.4/css/bootstrap.min.css"/>
##    <link rel="stylesheet" href="https://apps.bdimg.com/libs/bootstrap-glyphicons/1.0/css/bootstrap-glyphicons.css"/>
##    <link rel="stylesheet" href="https://apps.bdimg.com/libs/fontawesome/4.4.0/css/font-awesome.min.css"/>

    <!--<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.min.js"></script>-->
    <!--<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.ie8polyfill.min.js"></script>-->
    <!--<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.widgets.helper.min.js"></script>-->
    <!--<link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.7.2/css/amazeui.min.css">-->
    <link rel="stylesheet" href="/assets/common.css"/>
    <link rel="stylesheet" href="/assets/css/share.h5.css?v=13"/>
    <script type="text/javascript" src="/share/angular.js?v=1"></script>
    <script type="text/javascript" src="/share/commonAssist.js"></script>
    <script type="text/javascript" src="/share/H5download.js?v=8"></script>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>

    <script>
        var shareTitle,shareDesc,shareLink,shareImgUrl
        $(function () {
            shareTitle = $('#shareTitle').val();
            if(shareTitle == '')
                shareTitle = '我发现一个小众的社交app，感觉很不错';
            shareDesc = $('#shareDesc').val();
            if(shareDesc == '')
                shareDesc = '比心，每一帧视频只为找到你';
            shareLink = $('#shareLink').val();
            if(shareLink == '')
                shareLink = 'https://import.dsgly.com';
            shareImgUrl = $('#shareImgUrl').val();
            if(shareImgUrl == '')
                shareImgUrl = 'http://bixin-beijing.oss-cn-beijing.aliyuncs.com/donot-delete/share_app_logo.png';

            $.ajax({
                type: "GET",
                url: "/share/wxConfig",
                dataType: 'json',
                data: {url: window.location.href},
                success: function(data) {
                    if ( "200"==data.code ) {
                        data = data.data || {};
                        wx.config({
                            debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
                            appId: data.appId, // 必填，公众号的唯一标识
                            timestamp: data.timestamp, // 必填，生成签名的时间戳
                            nonceStr: data.nonceStr, // 必填，生成签名的随机串
                            signature: data.signature,// 必填，签名，见附录1
                            jsApiList: ['onMenuShareTimeline','onMenuShareAppMessage','onMenuShareQQ','onMenuShareWeibo','onMenuShareQZone','previewImage'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                        });
                        wx.ready(function(){
                            $("#wxConfigSuccess").val("1");
                            var config = {
                                title: shareTitle, // 分享标题
                                desc: shareDesc, // 分享描述
                                link: shareLink, // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
                                imgUrl: shareImgUrl, // 分享图标
                            }
                            wx.onMenuShareTimeline( config );
                            wx.onMenuShareAppMessage( config );
                            wx.onMenuShareQQ( config );
                            wx.onMenuShareWeibo( config );
                            wx.onMenuShareQZone( config );
                        });
                        wx.error(function(res){
                            console.log(res);
                        });
                    }
                }
            });
        });
    </script>

</head>
<body ng-app="bixin" class="downloadH5">
    <input type="hidden" id="shareTitle" value="$!{shareTitle}">
    <input type="hidden" id="shareDesc" value="$!{shareDesc}">
    <input type="hidden" id="shareLink" value="$!{shareLink}">
    <input type="hidden" id="shareImgUrl" value="$!{shareImgUrl}">

    <input type="hidden" id="wxConfigSuccess" value="0">

    $screen_content

    #if( "$!{footerHide}"=="" )
    <div id="loadMore" class="line-block loading">
        <div class="loading1"></div>
        <div class="loading2"></div>
        <div class="loading3"></div>
    </div>
    <div ng-controller="footerController" >
        <header>
            <div class="downloadH5_head" >
                <img class="downloadH5_logo" ng-src="{{iconUrl.logo}}"/>
                <p  class="downloadH5_desc">用APP打开<br>查看更多视频动态</p>
                <button class="downloadH5_button1" ng-click="downloadApp()">下载比心</button>
##                <button class="downloadH5_button2" ng-click="openApp()">APP内打开</button>
                <button class="downloadH5_button2" ng-click="downloadApp()">打开APP</button>
            </div>
        </header>
        <footer id="dowmloadFooter" style="display: block">
            <div style="text-align: center;">
                <img class="downloadH5_footerImage" ng-src="{{iconUrl.bottom}}"/>
                <button class="downloadH5_closeButton" onclick="closeFooter()">
                    <img class="downloadH5_closeImage" ng-src="{{iconUrl.close}}"/>
                </button>
                <button class="downloadH5_footer" ng-click="downloadApp()">下载比心</button>
                <div class="downloadH5_footerDiv">
                    <p class="downloadH5_footer">手动比心我们最专业</p>
                </div>
            </div>
        </footer>
    </div>
    #end
</body>
</html>