<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="spring.cloud.biz.dataaccess.mapper.CommentDoMapper" >
  <resultMap id="BaseResultMap" type="spring.cloud.biz.dataaccess.dataobject.CommentDo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="moment_id" property="momentId" jdbcType="BIGINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="gmt_created" property="gmtCreated" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="is_deleted" property="isDeleted" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, moment_id, content, gmt_created, gmt_modified, is_deleted
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comment
    where id = #{id,jdbcType=BIGINT} and is_deleted=0
  </select>

  <update id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    update comment set is_deleted = 1, gmt_modified = NOW()
    where id = #{id,jdbcType=BIGINT}
  </update>

  <insert id="insert" parameterType="spring.cloud.biz.dataaccess.dataobject.CommentDo" useGeneratedKeys="true" keyProperty="id">
    insert into comment (id, moment_id, content, gmt_created, gmt_modified, is_deleted)
    values (#{id,jdbcType=BIGINT}, #{momentId,jdbcType=BIGINT}, #{content, jdbcType=VARCHAR}, #{gmtCreated,jdbcType=TIMESTAMP},
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDeleted,jdbcType=BIT} )
  </insert>

  <insert id="insertSelective" parameterType="spring.cloud.biz.dataaccess.dataobject.CommentDo" useGeneratedKeys="true" keyProperty="id">
    insert into comment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="momentId != null" >
        moment_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="gmtCreated != null" >
        gmt_created,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
      <if test="isDeleted != null" >
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="momentId != null" >
        #{momentId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        #{isDeleted,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="spring.cloud.biz.dataaccess.dataobject.CommentDo" >
    update comment
    <set >
      <if test="momentId != null" >
        moment_id = #{momentId,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreated != null" >
        gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDeleted != null" >
        is_deleted = #{isDeleted,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="spring.cloud.biz.dataaccess.dataobject.CommentDo" >
    update comment
    set moment_id = #{momentId,jdbcType=BIGINT},
      gmt_created = #{gmtCreated,jdbcType=TIMESTAMP},
      content = #{content,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      is_deleted = #{isDeleted,jdbcType=BIT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>